@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Rubik";
}

body {
  font-size: 15px;
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
}

body.overlay__full {
  height: 100vh;
  overflow: hidden;
}

label {
  display: flex;
  cursor: pointer;
}

img {
  display: block;
}

input {
  background-color: transparent;
  font-size: 15px;
  font-family: Roboto;
}

main {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin-top: 40px;
  max-width: 1400px;
}

footer {
  font-size: 14px;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 10px 40px;
  margin-top: 70px;
}

.footer__container {
  display: flex;
}

.footer__text {
  font-size: 13px;
  margin-top: 14px;
}

.logo {
  width: 40px;
  margin-right: 15px;
}

/*************************  HEADER  *************************/

.header__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 15px 0px;
}

.header__card {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header__logo {
  display: flex;
}

.header__title {
  font-size: 20px;
  margin-top: 10px;
}

.open__filter i,
.open i {
  font-size: 20px;
  margin-right: 10px;
}

/*************************   BANNER *************************/

.header__banner {
  width: 100%;
  min-height: 250px;
  background-image: url("img/background_img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__tittle {
  color: rgb(238, 238, 238);
  font-size: 100px;
  text-shadow: black 2px 3px;
}

/* Main Page */

/************************** FILTER **************************/

.filter__close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.close__btn {
  display: none;
}

.section > div {
  display: bock;
}

.filter__aside {
  padding: 30px 30px 35px;
  max-width: 300px;
  font-size: 15px;
  font-weight: 500;
}

.filter__container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 35px;
}

.filter__title {
  display: flex;
  justify-content: space-between;
  margin: -10px;
}

.filter__search {
  display: flex;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}

.search-input {
  padding: 5px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #2d2d2d;
  width: 230px;
  box-sizing: border-box;
}

.fa-search {
  color: #2d2d2d;
  font-size: 16px;
  margin-left: 15px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.fa-star {
  color: #ffc42d;
  margin-right: 1px;
}

.category__title,
.review__title {
  margin-bottom: 30px;
}

/* no creo que sea la mejor manera de hacerlo pero fue como funciono el espacio */
.search-category,
.search-review {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 2px;
}

/************************** PRODUCTS **************************/

/* Header */

.filter__header {
  background-color: white;
  color: #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 10px;
  padding: 25px 30px;
}

.open__filter {
  display: none;
}

.view__change {
  font-size: 20px;
  color: #2d2d2d;
  padding: 0;
  margin-left: 15px;
}

/* Products Grid and List*/

.product__container {
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: center;
}

.product__card {
  background-color: white;
  width: 285px;
  overflow: hidden;
  padding: 25px 25px;
  text-align: center;
  margin: 10px;
  transition: 0.1s;
}

.product__card:hover {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

.img__container {
  height: 333px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__img {
  height: 100%;
  margin: 0 auto;
  transition: 0.2s;
  opacity: 1;
}

.img__container:hover .product__img {
  transform: scale(1.5);
  opacity: 0.7;
}

.product__content,
.product__description,
.buy__container {
  margin-top: 15px;
  margin-bottom: 30px;
}

.product__name {
  font-weight: 600;
  margin-bottom: 15px;
}

.product__price {
  font-size: 15px;
  margin-bottom: 10px;
}

.product__description {
  display: none;
}

/* List */

.list .product__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.list .product__card {
  display: flex;
  text-align: left;
  height: 350px;
  width: auto;
  transition: 0.1s;
}

.list .img__container {
  margin: 0px 20px;
  min-width: 200px;
  height: 300px;
}

.list .product__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  margin: 0 10px;
}

.list .product__description {
  display: block;
}

.list .buy__container {
  width: 30%;
}

/************************** BUTTONS **************************/

button {
  border-radius: 5px;
  border: 0;
  transition: 0.2s;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.button__style {
  width: 100%;
  min-height: 50px;
  margin-top: 15px;
  color: #2d2d2d;
  background-color: whitesmoke;
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button__style:hover {
  background-color: #eeeeee;
}

/************************** SHOPCART **************************/

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  z-index: 2;
}

.shopcart__aside {
  height: 100vh;
  width: 350px;
  background-color: white;
  position: fixed;
  right: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  transform: translate(410px);
  transition: 0.2s;
}

.shopcart__close {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  height: 5%;
}

.shopcart__close i {
  font-size: 20px;
  cursor: pointer;
}

#close {
  background-color: transparent;
}

.shopcart__products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  margin-bottom: 20px;
}

#finish__btn {
  width: 100%;
  background-color: #4caf50;
  padding: 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  transition: 0.3s;
}

#finish__btn:hover {
  background-color: #43a047;
}

#finish__btn:focus {
  border: 2px solid grey;
}

#empty__btn {
  width: 100%;
  background-color: transparent;
  padding: 15px;
  border: 2px solid #d32f2f;
  border-radius: 5px;
  color: #d32f2f;
  margin-top: 10px;
  transition: 0.3s;
}

#empty__btn:hover {
  background-color: #c62828;
  color: white;
}

#empty__btn:focus {
  border: 2px solid grey;
}

/* Shopcart Products */

.added__container {
  display: flex;
  padding-top: 15px;
}

.added__img {
  height: 110px;
  width: 30%;
  margin-right: 10px;
}

.shopcart__img {
  height: 100%;
}

.shopcart__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 10px;
  width: 70%;
}

.shopcart__top,
.shopcart__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trash__btn {
  display: flex;
  justify-content: space-between;
}

.trash {
  color: red;
  font-size: 20px;
  margin: 0;
}

.qty-products {
  width: 30px;
  padding: 4px;
  text-align: center;
}

.qty-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overlay-shopcart {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  z-index: 4;
}

.shopcart__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  z-index: 5;
}

#shopcart {
  width: 50%;
  height: 85%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 40px;
  padding-top: 20px;
}

#shopcart > h2 {
  margin-top: 15px;
  margin-bottom: 30px;
}

.checkout__info {
  display: flex;
  height: 80%;
  justify-content: space-between;
}

.info__title {
  margin-bottom: 40px;
}

.payment__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.payment__info hr {
  height: 2px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  border: none;
  margin: 40px 0;
}

.payment__info > label {
  margin-top: 10px;
  font-size: 15px;
}

.payment__info > input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #3e434b;
  width: 70%;
}

.type__title {
  margin-bottom: 10px;
}

.checkout__subtotal {
  width: 35%;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout__total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: 800;
}

.checkout__total,
.checkout__delivery {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: 500;
}

.checkout__delivery {
  display: flex;
  justify-content: space-between;
  color: #43a047;
  margin-top: 10px;
  font-weight: 500;
}

.checkout__tax {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #d32f2f;
  font-weight: 500;
}

.checkout__buy {
  height: 20%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#keep {
  height: 60px;
  width: 220px;
  padding: 0 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #3e434b;
  font-size: 14px;
  background-color: rgb(247, 247, 247);
  transition: 0.3s;
}

#keep:hover {
  background-color: #e0e0e0;
}

#keep:focus {
  border: 2px solid grey !important;
}

#finish {
  height: 60px;
  width: 220px;
  padding: 0 25px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #3e434b;
  margin-left: 30px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  transition: 0.3s;
}

#finish:hover {
  background-color: #43a047;
}

#finish:focus {
  border: 2px solid grey;
}

/* Empty Cart */

.overlay__empty {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  z-index: 4;
}

.empty__question {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  z-index: 5;
}

.empty__shopcart {
  width: 25%;
  height: 22%;
  background-color: white;
  border-radius: 5px;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.empty__shopcart > p {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 10px;
}

.empty__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#cancel {
  width: 46%;
  padding: 20px 40px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  transition: 0.3s;
}

#cancel:hover {
  background-color: #e0e0e0;
}

#cancel:focus {
  border: 2px solid grey !important;
}

#empty {
  width: 46%;
  padding: 20px 40px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #d32f2f;
  color: white;
  transition: 0.3s;
}

#empty:hover {
  background-color: #c62828;
}

#empty:focus {
  border: 2px solid grey;
}

.show-filter {
  transform: translate(0);
}

.shopcart__aside,
.shopcart__container,
.checkout__subtotal,
.qty-container,
.added__container {
display: none;

}

/************************** QUERY SELECTOR **************************/
  
  @media (max-width: 576px){

    main,
    .flex-container {
      flex-direction: column;
      align-items: stretch;
    }

    .open__filter{
      display:block;
    }

    .list__grid, .view__change{
      display: none;
    }
    .filter__container{
      display: none;
    }
    .filter__header{
      margin-top: -95px;
    }

    .product__container, .product__card{
      width: 100%;
    }

  }
  

  