@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");

html,
body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  position: relative;
  font-family: "Rubik";
}

body {
  font-size: 15px;
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
}

body.overlay__full {
  height: 100vh;
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
}

label {
  display: block;
  cursor: pointer;
}

img {
  display: block;
}

button {
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

input {
  font-family: "Roboto";
}

main {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin-top: 40px;
  max-width: 1400px;
}

footer {
  font-size: 14px;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 10px 40px;
  margin-top: 70px;
}

.footer__container {
  display: flex;
}

.fa-star {
  color: #ffc42d;
}

.fa-search {
  color: #2d2d2d;
  font-size: 16px;
  margin-left: 15px;
  position: absolute;
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
}

.overlay__sidebar {
  z-index: 2;
}

.overlay {
  z-index: 4;
}

.hidden {
  display: none;
}

/*************************  HEADER  *************************/

.header__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
}

.header__container {
  width: 100%;
  padding: 10px 20px;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
}

.logo {
  width: 40px;
  margin-right: 15px;
}

.header__title {
  font-size: 20px;
}

/*************************   BANNER *************************/

.header__banner {
  width: 100%;
  min-height: 250px;
  background-image: url("img/background_img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__banner::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.header__banner--tittle {
  color: #eeeeee;
  font-size: 100px;
  text-shadow: 2px 3px black;
}

/*  MAIN */

/*********** FILTER : Search : Category : Stars ***********/

.filter__main {
  max-width: 270px;
  font-size: 12px;
  font-weight: 600;
}

.filter__container {
  padding: 0 35px 15px;
}

.filter__container--all {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.filter__search-input {
  height: 40px;
  width: 400px;
  line-height: 40px;
  padding: 0 20px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #2d2d2d;
  color: #2d2d2d;
}

.filter--bar {
  padding: 15px 30px;
}

.open__list-grid {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

/* BUTTON FILTER */

.filter__btn--open {
  font-size: 15px;
  margin-left: 10px;
  line-height: 20px;
}

.filter__btn--open i,
.open-cart-btn i {
  font-size: 20px;
  margin-right: 10px;
}

.filter__btn--open {
  display: none;
}

.filter__btn--close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  display: none;
}
.filter__btn--clear {
  padding: 0;
}

.filter__main label {
  display: flex;
  align-items: center;
}

.filter__main label input {
  margin-right: 30px;
}

.filter__main .review {
  margin-right: 5px;
}

.open-cart-btn {
  font-weight: 300;
}

.btn--open {
  font-size: 20px;
  color: #2d2d2d;
  padding: 0;
  margin-left: 15px;
}

/************  PRODUCTS ************/

.product___container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: flex-start;
  background-color: #eeeeee;
}

.product__card {
  background-color: white;
  width: calc(100% / 3 - 10px * 2);
  overflow: hidden;
  padding: 25px 25px;
  text-align: center;
  margin: 10px;
}

.product__card:hover {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.product__img--container {
  height: 333px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__img--container:hover .product__img {
  transform: scale(1.5);
  opacity: 0.7;
}

.product__img {
  height: 100%;
  margin: 0 auto;
  transition: 0.2s;
  opacity: 1;
}

.product--content {
  padding: 0 20px;
}

.product--name {
  font-weight: 600;
  margin-bottom: 0;
}

.product--price {
  font-size: 14px;
  color: #2d2d2d;
}

.product--description {
  display: none;
}

/************  PRODUCT BUTTON *************/

.product__buy--btn-style {
  width: 100%;
  min-height: 50px;
  margin-top: 15px;
}

.product__buy--btn-style:hover {
  background-color: #fafafafa;
}

.product__buy--btn-style:active {
  background-color: #eeeeee;
}


.product--add--btn {
  width: 100%;
  height: 40px;
}
/************ SHOP CART ************/

.shopcart {
  width: 100%;
  height: 100%;
  max-width: 400px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  padding: 40px 20px;
  background-color: white;
  border-left: 1px solid #fafafafa;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  z-index: 3;
}

.shopcart__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/************* SHOPCART BUTTON  *************/

.shopcart--added {
  flex-grow: 1;
  overflow: scroll;
}

.shopcart--close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}

.shopcart--warning {
  color: red;
}

.shopcart--warning:hover {
  background-color: #eeeeee;
}

.shopcart--warning:active {
  background-color: red;
}

.shopcart--warning-btn {
  border: 1px solid red;
  color: black;
  background-color: #eeeeee;
}

.shopcart--warning-btn:hover {
  background-color: red;
  color: #eeeeee;
}

.shopcart--warning-btn:active {
  background-color: red;
  border: 1px solid black;
}

/*************  MODAL : Checkout : Subtotal: Total *************/

.modal {
  width: 100%;
  background-color: #eeeeee;
  padding: 40px 30px;
  max-width: 500px;
}

.modal.hidden {
  display: none;
}

.modal__message {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.modal__actions {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.modal__actions button {
  margin-top: 0;
  margin-left: 20px;
  max-width: 200px;
}

/************  CHECKOUT ************/

.checkout label {
  font-size: 14px;
  width: 100%;
  display: block;
}

.checkout__info {
  width: 100%;
  padding-right: 30px;
}

.checkout__container--all {
  display: flex;
  justify-content: space-between;
}

.checkout .checkout__container {
  justify-content: space-between;
  align-items: stretch;
}

.checkout__user-info {
  padding: 20px 20px 40px;
}

.checkout__user-info input {
  margin: 5px 0 15px;
  display: block;
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  width: 100%;
  max-width: 300px;
  border: 0;
  border-bottom: 1px solid #fafafafa;
}

.checkout__user-info label {
  margin-top: 30px;
}

.checkout__payment {
  padding: 20px 20px 40px;
  border-top: 1px solid #e0e0e0;
}

.checkout__payment input {
  margin: 0 10px 0 0;
}

.checkout__payment label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

/*************  SUBTOTAL *************/

.shopcart__total {
  min-width: 300px;
  background: #eeeeee;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shopcart__total p {
  font-weight: 500;
  margin: 0;
  line-height: 1.8;
  display: flex;
  justify-content:space-between;
}

.cart__discount{
  color: #23b120;
}

.cart__shipping,
  .cart__tax {
    color: red;
  }


.cart__total {
  font-size: 28px;
  font-weight: 800;
  margin-top: 15px;
}

.cart__total-title {
  margin-top: 0;
  margin-bottom: 20px;
}




/************* TOTAL *************/

.modal__buy {
  margin-top: 40px;
  display: flex;
  justify-content:flex-end;
}

.modal-actions button {
  margin-top: 0;
  margin-left: 20px;
  max-width: 200px;
}


/************ 
MEDIA QUERY  ************/

@media (max-width: 1200px) {
  
  .product__card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  main {
    margin-top: 30px;
  }

  .filter__btn--close,
  .filter__btn--open {
    display: block;
  }

  .filter__main {
    width: 100%;
    height: 100%;
    max-width: 270px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 40px 0;
    transform: translateX(100%);
    transition: 0.3s;
    background-color: #fff;
  }

  .filter--bar {
    padding: 15px 30px;
  }

  .product___container.list .product__card {
    flex-direction: column;
    width: calc(100% / 2 - 2 * 10px);
  }

  .filter__search-container {
    width: 100%;
  }

  .open__list-grid {
    display: none;
  }

  main,
  .checkout__container {
    flex-direction: column;
    align-items: stretch;
  }

  .modal {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    min-height: 100%;
  }

  .modal__text {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .checkout {
    min-width: auto;
  }

  .checkout .checkout__container {
    min-height: auto;
    height: 100%;
  }

  .checkout__user-info {
    padding-right: 0;
  }

  .checkout__img {
    display: block;
  }

  .overlay__sidebar,
  .overlay {
    display: block;
    height: 100%;
    overflow-y: auto;
  }

  .product___container.list .product__card {
    align-items: stretch;
  }

  .product___container.list .product__img--container {
    height: 250px;
    max-width: initial;
  }

  .products.list .product__img {
    width: auto;
    height: 100%;
  }

  .product___container .product__img {
    max-width: 100%;
  }

  .product___container.list .product--content{
    text-align: center;
  }

  .product___container .product__buy--btn {
    display: flex;
    justify-content: center;
  }


  .product___container.list .product--add--btn {
    max-width: 300px;
    height: 50px;
  }

  .product___container.list .product-description {
    display: none;
  }
}

@media (max-width: 650px) {
  .cart {
    max-width: 100%;
  }

  .product___container.list .product__card {
    width: 100%;
  }

  .product___container .product__card {
    align-items: stretch;
  }

  .modal {
    min-width: 100%;
    position: relative;
  }

  .product___container .product__img {
    max-width: 100%;
  }

  .product___container .product__buy--btn {
    display: flex;
    justify-content: center;
  }

  .product___container .product--add--btn {
    max-width: 300px;
    height: 50px;
  }

  .modal__actions {
    margin-top: 20px;
    flex-direction: column;
    align-items: stretch;
  }

  .modal__actions button {
    max-width: 100%;
    margin: 15px 0 0 0;
  }

  .checkout__img {
    display: none;
  }
} 


