@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Rubik";
}

body {
  font-size: 15px;
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
}

body.overlay__full {
  height: 100vh;
  overflow: hidden;
}

label {
  display: flex;
  cursor: pointer;
}

img {
  display: block;
}

input {
  background-color: transparent;
  font-size: 15px;
  font-family: Roboto;
}

main {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin-top: 40px;
  max-width: 1400px;
}

footer {
  font-size: 14px;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 10px 40px;
  margin-top: 70px;
}

.footer__container {
  display: flex;
}

.footer__text {
  font-size: 13px;
  margin-top: 14px;
}

.logo {
  width: 40px;
  margin-right: 15px;
}

/*************************  HEADER  *************************/

.header__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 15px 0px;
}

.header__card {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header__logo {
  display: flex;
}

.header__title {
  font-size: 20px;
  margin-top: 10px;
}

.open__filter i,
.open i {
  font-size: 20px;
  margin-right: 10px;
}

/*************************   BANNER *************************/

.header__banner {
  width: 100%;
  min-height: 250px;
  background-image: url("img/background_img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__tittle {
  color: rgb(238, 238, 238);
  font-size: 100px;
  text-shadow: black 2px 3px;
}

/* Main Page */

/************************** FILTER **************************/

.filter__close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.close__btn {
  display: none;
}

.section > div {
  display: bock;
}

.filter__aside {
  padding: 30px 30px 35px;
  max-width: 300px;
  font-size: 15px;
  font-weight: 500;
}

.filter__container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 35px;
}

.filter__title {
  display: flex;
  justify-content: space-between;
  margin: -10px;
}

.filter__search {
  display: flex;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}

.search-input {
  padding: 5px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #2d2d2d;
  width: 230px;
  box-sizing: border-box;
}

.fa-search {
  color: #2d2d2d;
  font-size: 16px;
  margin-left: 15px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.fa-star {
  color: #ffc42d;
  margin-right: 1px;
}

.category__title,
.review__title {
  margin-bottom: 30px;
}

/* no creo que sea la mejor manera de hacerlo pero fue como funciono el espacio */
.search-category,
.search-review {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 2px;
}

/************************** PRODUCTS **************************/

/* Header */

.filter__header {
  background-color: white;
  color: #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 10px;
  padding: 25px 30px;
}

.open__filter {
  display: none;
}

.view__change {
  font-size: 20px;
  color: #2d2d2d;
  padding: 0;
  margin-left: 15px;
}

/* Products Grid and List*/

.product__container {
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: center;
}

.product__card {
  background-color: white;
  width: 285px;
  overflow: hidden;
  padding: 25px 25px;
  text-align: center;
  margin: 10px;
  transition: 0.1s;
}

.product__card:hover {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

.img__container {
  height: 333px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__img {
  height: 100%;
  margin: 0 auto;
  transition: 0.2s;
  opacity: 1;
}

.img__container:hover .product__img {
  transform: scale(1.5);
  opacity: 0.7;
}

.product__content,
.product__description,
.buy__container {
  margin-top: 15px;
  margin-bottom: 30px;
}

.product__name {
  font-weight: 600;
  margin-bottom: 15px;
}

.product__price {
  font-size: 15px;
  margin-bottom: 10px;
}

.product__description {
  display: none;
}

/* List */

.list .product__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.list .product__card {
  display: flex;
  text-align: left;
  height: 350px;
  width: auto;
  transition: 0.1s;
}

.list .img__container {
  margin: 0px 20px;
  min-width: 200px;
  height: 300px;
}

.list .product__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  margin: 0 10px;
}

.list .product__description {
  display: block;
}

.list .buy__container {
  width: 30%;
}

/************************** BUTTONS **************************/

button {
  border-radius: 5px;
  border: 0;
  transition: 0.2s;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.button__style {
  width: 100%;
  min-height: 50px;
  margin-top: 15px;
  color: #2d2d2d;
  background-color: whitesmoke;
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button__style:hover {
  background-color: #eeeeee;
}

/************************** ASIDE CART **************************/

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  z-index: 2;
}

.overlay-checkout{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  z-index: 4;
}

/************************** SHOPCART **************************/

#shopcart__aside {
  height: 100vh;
  width: 350px;
  background-color: white;
  position: fixed;
  right: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  transform: translate(410px);
  transition: 0.4s ease;
}

.open-cart {
  transform: translate(0);
}

.shopcart__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  height: 5%;
}

.shopcart__top i {
  font-size: 20px;
  cursor: pointer;
}

.shopcart__title {
  font-size: 25px;
}

.shopcart__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  margin-bottom: 20px;
}

.shopcart__product {
  display: flex;
  padding-top: 15px;
}

.added__img {
  height: 110px;
}

.cart__qty {
  width: 30px;
  padding: 4px;
  text-align: center;
}

.shopcart__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 10px;
  width: 70%;
}

.content__top,
.content_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trash__btn {
  display: flex;
  justify-content: space-between;
}

.trash {
  color: red;
  font-size: 20px;
  margin: 0;
}

.product__unity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buy__btn {
  width: 100%;
  background-color: #4caf50;
  padding: 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  transition: 0.3s;
}

.empty__btn {
  width: 100%;
  background-color: transparent;
  padding: 15px;
  border: 2px solid #d32f2f;
  border-radius: 5px;
  color: #d32f2f;
  margin-top: 10px;
  transition: 0.3s;
}

.buy__cancel {
  display: block;
}

/************************** QUERY SELECTOR **************************/

@media (max-width: 576px) {
  main,
  .flex-container {
    flex-direction: column;
    align-items: stretch;
  }

  .open__filter {
    display: block;
  }

  .list__grid,
  .view__change {
    display: none;
  }
  .filter__container {
    display: none;
  }
  .filter__header {
    margin-top: -95px;
  }

  .product__container,
  .product__card {
    width: 100%;
  }
}
